In [5]:
import pandas as pd
y=pd.Period('2024')
y

Period('2024', 'Y-DEC')

In [6]:
y.start_time

Timestamp('2024-01-01 00:00:00')

In [7]:
y.end_time

Timestamp('2024-12-31 23:59:59.999999999')

In [11]:
m=pd.Period('2024-1',freq='M')
m

Period('2024-01', 'M')

In [12]:
m.start_time

Timestamp('2024-01-01 00:00:00')

In [13]:
m.end_time

Timestamp('2024-01-31 23:59:59.999999999')

In [14]:
m+1

Period('2024-02', 'M')

In [17]:
d=pd.Period('2024-09-04',freq='D')

In [18]:
d

Period('2024-09-04', 'D')

In [19]:
d+1

Period('2024-09-05', 'D')

In [20]:
q=pd.Period("2017Q1")
q

Period('2017Q1', 'Q-DEC')

In [21]:
q+1

Period('2017Q2', 'Q-DEC')

In [22]:
q=pd.Period("2017Q1",freq='Q-jan')

C:\Users\Hassan Ali\AppData\Local\Temp\ipykernel_3564\674819383.py:1: FutureWarning: 'Q-jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  q=pd.Period("2017Q1",freq='Q-jan')

In [23]:
q

Period('2017Q1', 'Q-JAN')

In [24]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [26]:
q.asfreq('M',how="end")

Period('2016-04', 'M')

In [27]:
q2=pd.Period("2017Q2",freq='Q-jan')
q2

C:\Users\Hassan Ali\AppData\Local\Temp\ipykernel_3564\2675455411.py:1: FutureWarning: 'Q-jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  q2=pd.Period("2017Q2",freq='Q-jan')

Period('2017Q2', 'Q-JAN')

In [28]:
q2-q

In [29]:
idx=pd.date_range('2017','2024',freq='Q-jan')

C:\Users\Hassan Ali\AppData\Local\Temp\ipykernel_3564\1681386541.py:1: FutureWarning: 'Q-jan' is deprecated and will be removed in a future version, please use 'QE-JAN' instead.
  idx=pd.date_range('2017','2024',freq='Q-jan')

In [30]:
idx

DatetimeIndex(['2017-01-31', '2017-04-30', '2017-07-31', '2017-10-31',
               '2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31', '2020-04-30', '2020-07-31', '2020-10-31',
               '2021-01-31', '2021-04-30', '2021-07-31', '2021-10-31',
               '2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31',
               '2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31'],
              dtype='datetime64[ns]', freq='QE-JAN')

In [32]:
# Convert the first date to a Period object and get the start time
period = idx[0].to_period('Q-JAN')
print("Start time:", period.start_time)
print("End time:", period.end_time)

Start time: 2016-11-01 00:00:00
End time: 2017-01-31 23:59:59.999999999

In [34]:
import numpy as np
ts=pd.Series(np.random.randn(len(idx)),idx)
ts

2017-01-31   -1.833587
2017-04-30    1.944737
2017-07-31    0.431228
2017-10-31    0.359407
2018-01-31    0.463074
2018-04-30   -1.206999
2018-07-31   -0.928591
2018-10-31   -0.165786
2019-01-31   -0.939924
2019-04-30    1.487844
2019-07-31    0.598261
2019-10-31   -1.889825
2020-01-31    1.366811
2020-04-30   -0.560559
2020-07-31    1.036805
2020-10-31    0.165732
2021-01-31    0.872734
2021-04-30    0.867492
2021-07-31   -0.475136
2021-10-31   -1.355714
2022-01-31   -1.904930
2022-04-30   -1.225653
2022-07-31   -0.127839
2022-10-31   -0.460913
2023-01-31   -0.473927
2023-04-30   -0.500554
2023-07-31    0.801334
2023-10-31   -0.028149
Freq: QE-JAN, dtype: float64

In [35]:
ts.index

DatetimeIndex(['2017-01-31', '2017-04-30', '2017-07-31', '2017-10-31',
               '2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31',
               '2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31', '2020-04-30', '2020-07-31', '2020-10-31',
               '2021-01-31', '2021-04-30', '2021-07-31', '2021-10-31',
               '2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31',
               '2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31'],
              dtype='datetime64[ns]', freq='QE-JAN')

In [36]:
ts['2017':'2020']

2017-01-31   -1.833587
2017-04-30    1.944737
2017-07-31    0.431228
2017-10-31    0.359407
2018-01-31    0.463074
2018-04-30   -1.206999
2018-07-31   -0.928591
2018-10-31   -0.165786
2019-01-31   -0.939924
2019-04-30    1.487844
2019-07-31    0.598261
2019-10-31   -1.889825
2020-01-31    1.366811
2020-04-30   -0.560559
2020-07-31    1.036805
2020-10-31    0.165732
Freq: QE-JAN, dtype: float64

In [68]:
df=pd.read_csv(r"C:\Users\Hassan Ali\OneDrive\Desktop\python\Pandas (practice)\wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [69]:
df.set_index('Line Item',inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [70]:
df=df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [71]:
print(df)

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [72]:
df.index = pd.to_datetime(df.index, errors='coerce')

C:\Users\Hassan Ali\AppData\Local\Temp\ipykernel_3564\3061397605.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.index = pd.to_datetime(df.index, errors='coerce')

In [73]:
df.index = pd.PeriodIndex(df.index, freq='Q-Jan')
df.index

C:\Users\Hassan Ali\AppData\Local\Temp\ipykernel_3564\3402211124.py:1: FutureWarning: 'Q-Jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  df.index = pd.PeriodIndex(df.index, freq='Q-Jan')

PeriodIndex(['2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4'], dtype='period[Q-JAN]')

In [65]:
df.index[0].start_time

Timestamp('2016-11-01 00:00:00')

add start date column in the datasets

In [74]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q4      115904     86544   29360 2016-11-01
2018Q1      120854     89485   31369 2017-02-01
2018Q2      118179     87484   30695 2017-05-01
2018Q3      130936     97743   33193 2017-08-01
2018Q4      117542     87688   29854 2017-11-01

In [75]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q4      115904     86544   29360 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      120854     89485   31369 2017-02-01 2017-04-30 23:59:59.999999999
2018Q2      118179     87484   30695 2017-05-01 2017-07-31 23:59:59.999999999
2018Q3      130936     97743   33193 2017-08-01 2017-10-31 23:59:59.999999999
2018Q4      117542     87688   29854 2017-11-01 2018-01-31 23:59:59.999999999