In [ ]:
#pip install pandas

In [ ]:
#pip install numpy

pandas tutorials

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
a = pd.Series([1,2,3,4,5,6,7])
a

In [ ]:
date = pd.date_range("20240707",periods=9)
date

In [23]:
df = pd.DataFrame(np.random .randn(9,4),index=date,columns=list("abcd"))
df

                   a         b         c         d
2024-07-07  0.984181 -0.695589 -0.896236 -0.164840
2024-07-08  1.982750 -0.808146 -0.898163 -1.104149
2024-07-09 -0.308309 -0.360592 -1.756142  0.662264
2024-07-10 -1.188349 -0.042093  0.453236 -0.458764
2024-07-11  0.874467 -0.551962  0.298475  0.675546
2024-07-12  0.124032  0.156015  0.287028 -1.302489
2024-07-13  1.073315 -0.358408  1.238984 -0.226366
2024-07-14  0.290351 -0.346617 -0.775900 -0.068415
2024-07-15  1.131151 -1.518674  0.482927  0.108590